.effort {    
    .table {
        font-size: 1em;
    }
    
    .ver-atendimento {
        .tab-pane {
            padding: 15px;
            min-height: 310px;
        }
        .tab-pane.active {
            border-left: 1px solid;
            border-bottom: 1px solid;
            border-right: 1px solid;
            border-color: #ddd;
        }
        .dropdown-menu {
            .dropdown-header {
                background-color: #F0F0F0;
            }
        }
    }
    
    .consultar-usuario {
        .filtro-consultar-usuario {
            min-height: 100px;
        }
    }
    
    .formErrorContent {
        white-space: nowrap;
    }
    
    #modalAguarde {
        i { font-size: 1.4em; }
        span { font-size: 1.3em; margin-left: 10px; }
    }
}