<ul class="nav nav-tabs">
    <li role="presentation" {% if menuPrincipal == 'consultar_atendimento' %}class="active"{% endif %}><a href="{{ urlFor('consultar_atendimento') }}">Consultar Atendimento</a></li>
    <li role="presentation" {% if menuPrincipal == 'registrar_atendimento' %}class="active"{% endif %}><a href="{{ urlFor('novo_atendimento') }}">Registrar Atendimento</a></li>
    <li role="presentation" {% if menuPrincipal == 'realizar_atendimento' %}class="active"{% endif %}><a href="#">Outra Op&ccedil;&atilde;o</a></li>
</ul>