<ul class="nav nav-tabs">
    <li role="presentation" class="{% if menuPrincipal == 'consultar_atendimento' %}active{% endif %} text-center">
        <a href="{{ urlFor('consultar_atendimento') }}"><i class="fa fa-search"></i> <span>Consultar Atendimento</span></a>
    </li>
    <li role="presentation" {% if menuPrincipal == 'registrar_atendimento' %}class="active"{% endif %}><a href="{{ urlFor('novo_atendimento') }}"><i class="fa fa-plus"></i> Registrar Atendimento</a></li>    
</ul>