<ul class="nav nav-tabs">
    <li role="presentation" {% if menuPrincipal == 'consultar_atendimento' %}class="active"{% endif %}><a href="{{ urlFor('consultar_atendimento') }}">Consultar Atendimento</a></li>
</ul>