<ul class="nav nav-tabs">
    <li role="presentation" {% if menuPrincipal == 'dashboard' %}class="active"{% endif %}><a href="{{ urlFor('dashboard_responsavel_area') }}">Dashboard</a></li>
    <li role="presentation" {% if menuPrincipal == 'consultar_atendimento' %}class="active"{% endif %}><a href="{{ urlFor('consultar_atendimento') }}">Consultar Atendimento</a></li>
    <li role="presentation" {% if menuPrincipal == 'relatorios_gerenciais' %}class="active"{% endif %}><a href="{{ urlFor('home') }}">Relat&oacute;rios Gerenciais</a></li>        
</ul>