<!-- Tema obtido em: http://ironsummitmedia.github.io/startbootstrap-stylish-portfolio/ -->
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="{{ urlFor('home') }}" />
        <title>{{ empresa.getNomeFantasia() }}</title>

        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />                
        <link rel="stylesheet" type="text/css" href="css/empresa.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        {% block conteudo %}{% endblock %}
    </div>
    <script type="text/javascript" src="js/lib/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="css/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            setTimeout(function () {
                jQuery(".alert").fadeOut();
            }, 2500);
        });
    </script>
    {% include "layout/flash.html.twig" %}
    {% include "layout/aguarde.html.twig" %}
</body>
</html>
